

.product-image{
    width: 100%;
    height: 22rem !important;
    transition: transform 0.3s;
    
}

.product-image:hover{
    transform: scale(1.1);
}

.product-card{

    max-width: 600px;
   
    background-color: transparent !important;
    margin: 10px !important;
    border-color: none !important;
}
.product-card-body{
    
    width: 100%;
   
}