
/*MODALS*/
.custom-modal {
  width: 80%; /* Ajusta según tus necesidades */
  margin-left: auto;
  margin-right: 0;
}

.item-cart-img{
  height: 80px;
  width: 80px;
}

.text-truncate{
  display: block;
  max-width: 150px;
}